<settings>
    <!-- Fill in any proxy info here -->
    <!--
    <proxies>
        <proxy>
            <active>true</active>
            <protocol>http</protocol>
            <host>proxy.veggiecorp.com</host>
            <port>3128</port>
            <nonProxyHosts>*.veggiecorp.com</nonProxyHosts>
        </proxy>
    </proxies>
    -->
    <servers>
        <server>
            <id>internalSnapshots</id>
            <username>deployment</username>
            <password>deployment123</password>
        </server>
        <server>
            <id>internalReleases</id>
            <username>deployment</username>
            <password>deployment123</password>
        </server>
    </servers>
</settings>

