<settings>
    <!-- Fill in any proxy info here -->
    <!--
    <proxies>
        <proxy>
            <active>true</active>
            <protocol>http</protocol>
            <host>proxy.veggiecorp.com</host>
            <port>3128</port>
            <nonProxyHosts>*.veggiecorp.com</nonProxyHosts>
        </proxy>
    </proxies>
    -->
  <mirrors>
    <mirror>
      <!--This sends everything else to /public -->
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://nexus.ci.svc.cluster.local:8081/nexus/content/groups/public/</url>
    </mirror>
  </mirrors>

  <servers>
    <server>
      <id>internalSnapshots</id>
      <username>deployment</username>
      <password>deployment123</password>
    </server>
    <server>
      <id>internalReleases</id>
      <username>deployment</username>
      <password>deployment123</password>
    </server>
  </servers>
</settings>

